<!-- need to display name_of_bank, account_identifier, account_assets, number_of_owners -->
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>

<h1>Account Stats</h1>

<table>
    <tr>
        <th>Bank Name</th>
        <th>Account ID</th>
        <th>Account Assets</th>
        <th>Number of Owners</th>
    </tr>
    {% for entry in joined_table %}
    <tr>
        <td>{{ entry.bank_name }}</td>
        <td>{{ entry.account_id }}</td>
        <td>{{ entry.balance }}</td>
        <td>{{ entry.num_owners }}</td>
        
    </tr>
    {% endfor %}
</table>
