{% extends 'bank/header.html' %}

{% block content %}
<div class="content" style="padding: 30px;">
    <p style="font-size: 20px;">Welome {{perID}}. You are a {{role}}</p>
    <div class="container" style="background-color: white;">
        <div class="row">
            <div class="col-sm">
                 <a href="/bank/create_corporation"><button class="button button2" style="float: left !important; margin-left: 30px;">Hire Worker</button></a>
            </div>
            <div class="col-sm">
                 <a href="/bank/"><button class="button button2" style="float: left !important; margin-left: 30px;">Pay Employee</button></a>
            </div>
        </div>
    </div>
</div>


{% endblock %}