{% extends 'bank/header.html' %}

{% block content %}
<div class="content" style="padding: 30px;">
    <div class="container" style="background-color: white;">
        <div class="row">
            <div class="col-sm-6">
                 <a href="/bank/add_account_access"><button class="button button2" style="float: left !important; margin-left: 30px;">Add Account/Access</button></a>
            </div>
            <div class="col-sm-6">
                 <a href="/bank/remove_account_access"><button class="button button2" style="float: left !important; margin-left: 30px;">Remove Account/Access</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}