{% extends 'bank/header.html' %}

{% block content %}


<div class="container">
    <h3>Stop Employee Role</h3>
    <form action="/bank/stop_employee_and_customer_role" method="post">
        {% csrf_token %}
        {{ form1 }}
        <input type="submit" name="employee" value="Submit">
    </form>
</div>


<br>

<div class="container">
    <h3>Stop Customer Role</h3>
    <form action="/bank/stop_employee_and_customer_role" method="post">
        {% csrf_token %}
        {{ form2 }}
        <input type="submit" name="customer" value="Submit">
    </form>
</div>


{% endblock %}